WEB_PORT = '8000:8000'

SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=postgres
SQL_USER=postgres
SQL_PASSWORD=postgres
SQL_HOST=db
SQL_PORT=5432

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_ROOT_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRE_SQL_PORT = '5433:5432'

SECRET_KEY = "key"


DJANGO_SETTINGS_MODULE=trading_platform.settings

CELERY_BROKER_URL = "redis://redis:6379/0"
CELERY_RESULT_BACKEND = "redis://redis:6379/0"

CELERY_RESULT_SERIALIZER = "json"

REDIS_PORT = "6379:6379"

EMAIL_BACKEND = 'django.core.mail.backends.console.EmailBackend' # для вывода в консоль
# для отправки на почту 'django.core.mail.backends.smtp.EmailBackend'
EMAIL_HOST = 'localstack'
EMAIL_PORT = 4566
EMAIL_USE_TLS = False
EMAIL_USE_SSL = False
EMAIL_HOST_USER = 'zkatdjango@gmail.com'
EMAIL_HOST_PASSWORD = 'xkwt zlpp vrpu kqmv' # email pass: 'Takzdjango'

LOCALSTACK_PORTS = "4566-4599:4566-4599"

AWS_ACCESS_KEY_ID=localstack
AWS_SECRET_ACCESS_KEY=localstack
AWS_DEFAULT_REGION=us-east-1
AWS_S3_ENDPOINT_URL=http://host.docker.internal:4566

AWS_STORAGE_BUCKET_NAME=images
AWS_DEFAULT_ACL=public-read
GATEWAY_LISTEN=0.0.0.0:4566
LOCALSTACK_PORT=4566
SERVICES=ses,s3
AWS_SES_ENDPOINT_URL =http://host.docker.internal:4566
AWS_ENDPOINT = http://localstack:4566

KAFKA_TOPIC_STOCK_PRICES = "stock_prices"
KAFKA_TOPIC_STOCK_SYMBOLS = "stock_symbols_to_add"
BOOTSTRAP_SERVERS='kafka:9092'
